# See http://help.github.com/ignore-files/ for more about ignoring files.
# dependencies
node_modules
node_modules_bak
/log
/server/log/

# Dockerfile
# process.yml
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
.editorconfig
debug.log

#environment
#/server/config/environment/production.js
/server/files/
/server/upload/
uploads/
files/
logs/
